<!DOCTYPE html>
<html lang="fr">
  <head>
	<meta charset="utf-8" />
    <title>Acceuil</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  	<div id="contenu">
  	  <h1>MOTEUR DE RECHERCHE</h1>
      <form id="recherche" action="rechercher" method="post">
        <input type="text" name="mots_cles" placeholder="Effectuez une recherche" required>
      </form>
    </div>
  </body>
</html>